# Grist server URL
GRIST_SYNC_SERVER="https://docs.getgrist.com"

# See: https://docs.getgrist.com/account/developer
GRIST_SYNC_API_KEY=".secrets/.grist-api-key"

# See: Document Settings > API > Document ID
GRIST_SYNC_DOC_ID="YOUR_GRIST_DOCUMENT_ID"

# Output directory for rendered and pulled formulas.
# {doc} and {table} will be replaced by DOC* and TABLE_ID at runtime
# where DOC* is the name of DOC_ID, retrieved through the API
GRIST_SYNC_OUTDIR=".grist/{doc}/{table}"

# Source directory containing local formula files.
GRIST_SYNC_SOURCE="./formulas"

# Table to sync formulas to
# "RUC" is meant to work with: https://community.getgrist.com/t/ruc-2-0-is-here/13769
GRIST_SYNC_TABLE_ID="RUC"

# Optional regular expression to filter columns and source files.
GRIST_SYNC_COLUMN_FILTER=".*"
